*{
	box-sizing:border-box; /*Controls how we measure our width*/
}

/*-----------Webpage Grid-----------*/
.gridContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	min-height: 100vh;
}

/*Header (Nav Bar)*/
.navContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	padding-right: 4rem;
	padding-left: 4rem;
}

h1{
	grid-column: 1/span 7;
}


/*Pattern Module: Sections of the page*/
.sectionContainer{
	grid-column: 2/span 10;
}

.patternContainer{
	display:grid;
	grid-template-columns:repeat(10, 1fr);
}

.patternContainer h4, p.note{
	grid-column: 1/span 10;
}

/*Module typography*/
.moduleHeader{
	grid-column: 1/span 6;
}


/*-----------Website Colours-----------*/
.colourSwatchOverview:first-of-type{
	grid-column:1/span 4;
}

.colourSwatchOverview:nth-of-type(2){
	grid-column:5/span 2;
}

.colourSwatchOverview:nth-of-type(3){
	grid-column:7/span 2;
}

.colourSwatchOverview:last-of-type{
	grid-column:9/span 2;
}

/*-----------Typography-----------*/
.patternOverview{
	grid-column:1/span 12;
}

/*-----------Interactive Elements-----------*/
.patternStyleContainer{
	display:grid;
	grid-template-columns:repeat(10, 1fr);
}

.patternStyle{
	grid-column: 1/span 3;
}

/*-----------Modular Patterns-----------*/
/*Nav Bar*/
.navBarContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	grid-column: 1/span 12;
}

.navButtons{
	grid-column: 8/span 5;
}

.logo{
	grid-column: 1/span 2;
}

/*-----------Feature Pattern Module-----------*/
/*Feature Pattern Grid Container*/
.modulePatternContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr 0.5fr 1.25fr;
	grid-column-gap: 2em;
	grid-row-gap: 2em;
}

/*Description*/
.descriptionContainer{
	grid-column: 2/span 5;
	grid-row: 1/span 1;
}

/*Buttons*/
.featureBtn{
	grid-column: 2/span 3;
}

.featureBtn:first-of-type{
	grid-row: 2/span 1;
}

.featureBtn:nth-of-type(2){ /*https://www.w3schools.com/cssref/sel_nth-of-type.asp*/
	grid-row: 3/span 1;
}

.featureBtn:last-of-type{
	grid-row: 4/span 1;
}

/*Product image*/
.imgContainer{
	grid-column: 5/span 7;
	grid-row: 2/span 3;
}

/*Product Specifications*/
.productSpecsHeader{
	grid-column: 2/span 10;
	grid-row: 5/span 1;
}

.productSpecs{
	grid-row: 6/span 1;
}
.productSpecs:first-of-type{
	grid-column: 2/span 3;
}

.productSpecs:nth-of-type(2){
	grid-column: 5/span 3;
}

.productSpecs:last-of-type{
	grid-column: 8/span 3;
}

/*-----------Grid Structure-----------*/
.gridStructurePatternContainer{
	display: grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	min-height: 25vh;
}

/*-----------Recommendation Module-----------*/
.recModContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 2rem;
}

.descriptionTitle{
	grid-column: 1/span 12;
}

.productDetails{
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	margin-bottom: 0rem;
}

.productCard:first-of-type{
	grid-column: 1/span 3;
}

.productCard:nth-of-type(2){
	grid-column: 4/span 3;
}

.productCard:nth-of-type(3){
	grid-column: 7/span 3;
}

.productCard:last-of-type{
	grid-column: 10/span 3;
}

.codeSnippetContainer{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2rem;
}

/*Container for 3 boxes (Used for Company Values and Blog Module)*/
.threeBoxContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem
}

.valueAndBlogCard{
	min-height:15rem;
}
/*Our Values Module*/
.valueAndBlogCard:first-of-type{
	grid-column: 1/span 4;
}

.valueAndBlogCard:nth-of-type(2){
	grid-column: 5/span 4;
}

.valueAndBlogCard:last-of-type{
	grid-column: 9/span 4;
}

/*Quiz Text Multiple Choice*/
.quizContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
}

.progressBarBorder{
	grid-column: 4/span 6;
	grid-row: 2/span 1;
}

.questionNumber{
	grid-column: 4/span 6;
	grid-row: 3/span 1;
}

.quizQuestion{
	grid-column: 4/span 6;
	grid-row: 4/span 1;
}

.quizBtnStyle:first-of-type{
	grid-column: 4/span 3;
	grid-row: 5/span 1;
}

.quizBtnStyle:nth-of-type(2){
	grid-column: 7/span 3;
	grid-row: 5/span 1;
}

.quizBtnStyle:nth-of-type(3){
	grid-column: 4/span 3;
	grid-row: 6/span 1;
}

.quizBtnStyle:last-of-type{
	grid-column: 7/span 3;
	grid-row: 6/span 1;
}

/*Quiz Image Selection*/
/*.quizCard:first-of-type{
	grid-column: 4/span 3;
	grid-row: 5/span 1;
}*/

.quizCard:nth-of-type(2){
	grid-column: 4/span 2;
	grid-row: 5/span 1;
}

.quizCard:nth-of-type(3){
	grid-column: 6/span 2;
	grid-row: 5/span 1;
}

.quizCard:nth-of-type(4){
	grid-column: 8/span 2;
	grid-row: 5/span 1;
}

.quizCard:nth-of-type(5){
	grid-column: 4/span 2;
	grid-row: 6/span 1;
}

.quizCard:last-of-type{
	grid-column: 6/span 2;
	grid-row: 6/span 1;
}

/* Shop Tile */
.shopModule {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.shopTile{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	grid-column: 1;
}

.shopTile .productCard:first-of-type{
	grid-column: auto;
	grid-row-start: auto;
}

.shopTile .productCard:nth-of-type(2){
	grid-column: auto;
	grid-row-start: auto;
}

.shopTile .productCard:nth-of-type(3){
	grid-column: auto;
	grid-row-start: auto;
}

.shopTile .productCard:last-of-type{
	grid-column: auto;
	grid-row-start: auto;
}

/* Pagination */
.pagination {
	grid-column: span 3;
	margin: 0 auto;
}

/* Sub Navigation */
.subNavContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}

.subNavCategory {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* Contact Modules */
#contactModules {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: 2/span 8;
}


@media screen and (max-width: 125em){
	.navButtons{
		grid-column: 8/span 8;
	}

	.imgContainer img{
		width: 58rem;
		height: 26rem;
	}
}

@media screen and (max-width: 120em){
	.navButtons{
		grid-column: 8/span 8;
	}

	.imgContainer img{
		width: 53rem;
		height: 26rem;
	}
}

@media screen and (max-width: 105em){
	.navButtons{
		grid-column: 7/span 6;
	}

	.imgContainer img{
		width: 48rem;
		height: 26rem;
	}
}

@media screen and (max-width: 100em){
	.imgContainer img{
		width: 45rem;
		height: 26rem;
	}
}

@media screen and (max-width: 95em){
	.navButtons{
		grid-column: 6/span 7;
	}

	.imgContainer img{
		width: 42rem;
		height: 18rem;
	}


	.modulePatternContainer{
		grid-template-rows: 0.5fr 0.2fr 0.2fr 0.2fr 0.20fr 0.15fr;
		grid-column-gap: 1rem;
		grid-row-gap: 1.5em;
	}

	.dot{
		margin-top: 1.5rem;
		margin-left: 2rem;
	}

	.featureBtn{
		max-height: 3rem;
		padding-left: 2.25em;

	}

	.featureBtn:first-of-type{
		grid-row-start: 2;
		grid-column: 2/span 3;
	}

	.featureBtn:nth-of-type(2){
		grid-row-start: 3;
		grid-column: 2/span 3;
	}

	.featureBtn:last-of-type{
		grid-row-start: 4;
		grid-column: 2/span 3;
	}
}

@media screen and (max-width: 85em){
	.navButtons{
		grid-column: 6/span 10;
	}

	/*Colour Swatches in Style Guide*/
	.colourSwatchOverview:first-of-type{
		grid-column:1/span 5;
	}

	.colourSwatchOverview:nth-of-type(2){
		grid-column:6/span 3;
	}

	.colourSwatchOverview:nth-of-type(3){
		grid-column:1/span 3;
	}

	.colourSwatchOverview:last-of-type{
		grid-column:4/span 3;
	}

	.modulePatternContainer{
		grid-template-rows: 0.5fr 0.2fr 0.2fr 0.2fr 0.20fr 0.15fr;
		grid-column-gap: 1rem;
		grid-row-gap: 1.5em;
	}

	.descriptionContainer{
		grid-column: 2/span 7;
		grid-row: 1/span 1;
	}

	.imgContainer{
		grid-column: 5/span 12;
		grid-row: 2/span 3;
		margin-left: 5rem;
	}

	.imgContainer img{
		width: 32rem;
		height: 18rem;
	}

	.dot{
		margin-top: 1.5rem;
		margin-left: 2rem;
	}

	.featureBtn{
		max-height: 3rem;
		padding-left: 2.5em;

	}

	.featureBtn:first-of-type{
		grid-row-start: 2;
		grid-column: 2/span 4;
	}

	.featureBtn:nth-of-type(2){
		grid-row-start: 3;
		grid-column: 2/span 4;
	}

	.featureBtn:last-of-type{
		grid-row-start: 4;
		grid-column: 2/span 4;
	}

	.productSpecsHeader{
		grid-row: 5/span 1;
		grid-column: 2/span 2;
		margin-top: 2rem;
	}

	.productSpecs:first-of-type{
		grid-row: 6/span 1;
		grid-column: 2/span 10;
	}

	.productSpecs:nth-of-type(2){
		grid-row: 6/span 1;
		grid-column: 6/span 5;
	}

	.productSpecs:last-of-type{
		grid-row: 6/span 1;
		grid-column: 10/span 4;
		margin-bottom: 3rem;
	}

	/*recommendation*/
	.productDetails{
		display: grid;
		grid-template-columns: 1fr 0.1fr
	}

}

@media screen and (max-width: 75em){
	.navButtons{
		grid-column: 1/span 12;
	}

	.navButtons li{
		margin-left: -1rem;
	}
	/*Feature Module*/

	/*Description*/
	.descriptionContainer{
		grid-column: 2/span 11;
		grid-row: 1/span 1;
	}

	/*img*/
	.imgContainer{
		grid-column: 5/span 12;
		grid-row: 2/span 3;
		margin-left: 5rem;
	}

	.imgContainer img{
		width: 30rem;
		height: 18rem;
	}

	.dot{
		margin-top: 1.5rem;
		margin-left: 2rem;
	}

	.featureBtn{
		max-height: 3rem;
		padding-left: 1.35em;

	}

	.featureBtn:first-of-type{
		grid-row-start: 2;
		grid-column: 2/span 4;
	}

	.featureBtn:nth-of-type(2){
		grid-row-start: 3;
		grid-column: 2/span 4;
	}

	.featureBtn:last-of-type{
		grid-row-start: 4;
		grid-column: 2/span 4;
	}

	.productSpecsHeader{
		grid-row: 5/span 1;
		margin-top: 2rem;
	}

	.productSpecs:first-of-type{
		grid-row: 6/span 1;
		grid-column: 2/span 10;
	}

	.productSpecs:nth-of-type(2){
		grid-row: 6/span 1;
		grid-column: 6/span 5;
	}

	.productSpecs:last-of-type{
		grid-row: 7/span 1;
		grid-column: 2/span 10;
		margin-bottom: 3rem;
	}
}

/*-----------Footer Modular Patterns-----------*/
/*Footer*/
.footBarContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 10rem;
}

.footerResources{
	grid-column: 1/span 2;
}

.footerAbout{
	grid-column: 3/span 2;
}

.copyRight{
	grid-column: 5/span 3;
}

.footerLogo{
	grid-column: 12/span 1;
	margin: 0.5rem;
	margin-top: 13rem;
}

.socialMediaIcons{
	grid-column: 9/span 3;
	margin: 0.5rem;
	margin-top: 15rem;
}

/*-----------Quiz CTA Module-----------*/

.quizBannerContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.quizBH{
	grid-column: 2/span 4;
}

.quizCTA
{
	grid-column: 2/span 2;
}

/*-----------Product Image Gallery Module-----------*/

.productGalleryContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.galleryImg-1{
	grid-column: 1/span 6;
	grid-row: 1/ span 2;
	padding-right: 2rem;
}

.galleryImg-2{
	grid-column: 6/span 4;
	grid-row: 1/ span 2;
}

.galleryImg-3{
	grid-column: 9/span 4;
	grid-row: 1/ span 1;
	padding-left: 2rem;
}

.galleryImg-4{
	grid-column: 9/span 4;
	grid-row: 2/ span 1;
	padding-left: 2rem;
}

/*-----------Shopping Cart Module-----------*/
.shoppingCartContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: rgba(135, 135, 135, .8);
	height: 100vh;
}

.cartTile{
	grid-column: 7/span end;
	grid-row: 1/span end;
}
.detailContainer{
	display:grid;
	grid-template-columns:repeat(6, 1fr);
	grid-template-rows: repeat(5, 0.5fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.yourOrder{
	grid-column: 2/span 1;
	grid-row: 1/span 1;
	margin-top: 2rem;
}

.productOne{
	grid-column: 2/span end;
	grid-row: 2/span 1;
}
.productTwo{
	grid-column: 2/span end;
	grid-row: 3/span 1;
}

.priceDetails{
	grid-column: 2/span 2;
	grid-row: 4 span 1;
}

.priceAmounts{
	grid-column: 6/span 2;
	grid-row: 4 span 1;

}
.numItems{
	grid-column: 2/span 2;
	grid-row: 5 span 1;
}

.checkoutButton {
	grid-column: 5/span 1;
	grid-row: 5/span 2;
	float: right;
}

/*-----------User Submitted Module-----------*/
.userGalContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}


/*--------Product Filter Module-----*/

.filterContainer{
	display:grid;
	/* grid-template-columns:repeat(12, 1fr); */
	grid-column: 1;
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.filterBlock{
	grid-column: 1/span 4;
}

.filterContent{
	padding: 4rem;
	padding-left: 7rem;
	padding-right: 6rem;
}

.quizBH{
	grid-column: 2/span 4;
}

.quizCTAd
{
	grid-column: 2/span 2;
}

/*--------About Us Module-----*/
.usContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:(2, 1fr);
	grid-column-gap: 1rem;
	padding: 2rem;
}

.bonnie{
	grid-column: 2/span 3;
	grid-row: 1/span 1;
}

.bonnieHeader{
	grid-column: 2/span 2;
	grid-row: 2/span 1;
}

.jonathan{
	grid-column: 5/span 3;
	grid-row: 1/span 1;
}

.jonathanHeader{
	grid-column: 5/span 3;
	grid-row: 2/span 1;
}

.shaanti{
	grid-column: 8/span 3;
	grid-row: 1/span 1;
}

.shaantiHeader{
	grid-column: 8/span 3;
	grid-row: 2/span 1;
}

/*Breaking Point: 1837px*/
@media screen and (max-width: 117.063em){
	.blogCardText{
		margin-top: 8rem;
	}

	.productCardText{
		margin-top: 8rem;
	}
}

/*Breaking point: 1686px (aka 105.375rem)*/
@media screen and (max-width: 105.375em){
	.blogCardText{
		margin-top: 4rem;
	}
}

/*Breaking point: 1580px*/
@media screen and (max-width: 98.75em){
	.productCardText{
		margin-top: 4rem;
		margin-left: 2rem;
	}

	#productCTA{
		margin-left: 2rem;
		width: 10rem;
	}
}

/*Breaking point: 1395px (aka 87.188rem)*/
@media screen and (max-width: 87.188em){
	.productCardText{
		font-size: 1.25rem;
		margin-top: 4.5rem;
		margin-left: 2rem;
		width:clamp(7ch, 80%, 13ch);
	}
}

/*Tablet (size ~1220px and down)*/
@media screen and (max-width:76em){
	.recModContainer{
		display:grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.productCard{
		margin-bottom: 2rem;
	}
	.productCard:first-of-type{
		grid-column: 1/span 2;
	}

	.productCard:nth-of-type(2){
		grid-column: 3/span 2;
	}

	.productCard:nth-of-type(3){
		grid-column: 1/span 2;
	}

	.productCard:last-of-type{
		grid-column: 3/span 2;
	}

	.productCardText{
		margin-top: 8rem;
		margin-left: 3rem;
	}

	#productCTA{
		margin-left: 3rem;
	}
}

@media screen and (max-width: 70em){
	.imgContainer img{
		width: 27rem;
		height: 18rem;
	}

	/* hero slider */
	#heroSlider {
		height: 80vh;
	}

	.slideText {
		bottom: 15%;
	}

	#dots {
		left: 10%;
		bottom: 5%;
	}

	/* Sub Navigation */
	.subNavContainer {
		width: 80%;
		margin-left: 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 1fr;
	}

	.subNavCategory {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.subNavIMG {
		display: none;
	}

	/* Shop Tile */
	.shopModule {
		grid-template-columns: 1fr;
	}

	.shopTile{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 9fr;
	}

	.shopTile .productCard:first-of-type{
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(2){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(3){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(4){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(5){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(6){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(7){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(8){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	.shopTile .productCard:nth-of-type(9){
		grid-column: 1/span 3;
		grid-row-start: auto;
	}

	/* Contact Modules */
	#contactModules {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column: 2/span 8;
	}

	/* Hero with text only */
	#textHero p {
		width: 100%;
	}


}

@media screen and (max-width: 64em){
	.productCardText{
		margin-top: 2.5rem;
		margin-left: 2rem;
	}

	#productCTA{
		margin-left: 2rem;
	}
	/*Feature Module*/
	.modulePatternContainer{
		grid-template-rows: 0.5fr 1fr 0.2fr 0.2fr 0.0fr 0.20fr 0.20fr 0.15fr;
		grid-column-gap: 0.25rem;
		grid-row-gap: 1.5em;
	}

	/*Description*/
	.descriptionContainer{
		grid-column: 2/span 10;
		grid-row: 1/span 1;
	}

	/*img*/
	.imgContainer{
		grid-column: 1/span 12;
		grid-row: 2/span 1;
		margin-left: 3.5rem;
	}

	.imgContainer img{
		width: 37rem;
		height: 25rem;
	}

	.dot{
		margin-top: 1.5rem;
	}

	.featureBtn{
		max-height: 3rem;
	}

	.featureBtn:first-of-type{
		grid-row-start: 3;
		grid-column: 2/span 10;
	}

	.featureBtn:nth-of-type(2){
		grid-row-start: 4;
		grid-column: 2/span 10;
	}

	.featureBtn:last-of-type{
		grid-row-start: 5;
		grid-column: 2/span 10;
	}

	.productSpecsHeader{
		grid-row: 6/span 1;
		margin-top: 2rem;
	}

	.productSpecs:first-of-type{
		grid-row: 7/span 1;
		grid-column: 2/span 10;
	}

	.productSpecs:nth-of-type(2){
		grid-row: 8/span 1;
		grid-column: 2/span 10;
	}

	.productSpecs:last-of-type{
		grid-row: 9/span 1;
		grid-column: 2/span 10;
		margin-bottom: 3rem;
	}

	/*Grid Structure*/
	.gridStructurePatternContainer{
		grid-column-gap: 0.5rem;
		min-height: 25vh;
	}
}

@media screen and (max-width: 57em){
	.imgContainer{
		margin-left: 3.9rem;
	}

	.imgContainer img{
		width: 37rem;
	}

	.featureBtn{
		padding-left: 7rem;
	}

	.productCard:first-of-type{
		grid-column: 1/span 4;
	}

	.productCard:nth-of-type(2){
		grid-column: 1/span 4;
	}

	.productCard:nth-of-type(3){
		grid-column: 1/span 4;
	}

	.productCard:last-of-type{
		grid-column: 1/span 4;
	}

	/*.productCardText{
		margin-bottom: 2rem;
	}*/

	#productCTA{
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 55em){
	.imgContainer{
		margin-left: 2.9rem;
	}

	.imgContainer img{
		width: 26rem;
	}
}
