/*--------hero with only text-----*/
#textHero {
  display: grid;
	grid-column: span 5;
	margin-top: 100px;
	margin-bottom: 100px;
}

#textHero h1 {

}

#textHero p {
	width: 100%;
}

#everything {
	position: relative;
}

.onTop {
	z-index: 9999;
	position: absolute;
	width: 100vw;
	margin-left: 0;
	margin-top: 0;
	position: fixed;
}


/* Shop Tile */
.shopModule {
	display: grid;
	grid-template-columns: 2fr 1fr;
  grid-column: span 11;
}

.shopTile{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	grid-column: 1/span 4;
}

.shopTile .productCard:first-of-type{
	grid-column: auto;
	grid-row-start: auto;
}

.shopTile .productCard:nth-of-type(2){
	grid-column: auto;
	grid-row-start: auto;
}

.shopTile .productCard:nth-of-type(3){
	grid-column: auto;
	grid-row-start: auto;
}

.shopTile .productCard:last-of-type{
	grid-column: auto;
	grid-row-start: auto;
}

/* Pagination */
.pagination {
	grid-column: span 3;
	margin: 0 auto;
}

.pagination a {
	float: left;
	margin-left: 30px;
	color: #000000;
}

/*--------Product Filter Module-----*/

.filterContainer{
	display:grid;
	/* grid-template-columns:repeat(12, 1fr); */
	grid-column: 1;
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-right: 2rem;
}

.filterBlock{
	grid-column: 1/span 4;
}

.filterContent{
	padding: 4rem;
	padding-left: 7rem;
	padding-right: 6rem;
}

/*--------Product Filter Module-----*/

.filterBlock{
	background-color: white;
	box-shadow: var(--dropShadow);
}

.check {
  position: absolute;
 	top: 0;
 	left: 0;
 	height: 0.875rem;
	width: 0.875rem;
	border-style: solid;
	border-color: grey;
	border-width: 0.01em;
	border-radius: 0.25em;
}

.boxContainer {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.boxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Contact Modules */
#contactModules {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: span 12;
  grid-column-gap: 5em;
}

/* Location */
#socialLinks a {
	margin-right: 30px;
}

#map {
	margin-top: 50px;
	width: 100%;
	height: 300px;
	border: 0;
}

/*Form Fields*/
input, textarea{
	margin: 0.2rem;
	margin-top: 20px;
	width: 100%;
	background-color: white;
	box-shadow: var(--dropShadow);
	border: none;
	padding: 10px;
}

input[type=text]:focus{
	/*background-color: #2222;*/
}

label{
	color: var(--textColour);
	font-weight: bold;
}

textarea {
  /* rows: 10; */
}


/*-----------Shopping Cart Module-----------*/
.shoppingCartContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: rgba(135, 135, 135, .8);
	height: 100vh;
}

.cartTile{
	grid-column: 7/span end;
	grid-row: 1/span end;
}
.detailContainer{
	display:grid;
	grid-template-columns:repeat(6, 1fr);
	grid-template-rows: repeat(5, 0.5fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.yourOrder{
	grid-column: 2/span 1;
	grid-row: 1/span 1;
	margin-top: 2rem;
}

.productOne{
	grid-column: 2/span end;
	grid-row: 2/span 1;
}
.productTwo{
	grid-column: 2/span end;
	grid-row: 3/span 1;
}

.priceDetails{
	grid-column: 2/span 2;
	grid-row: 4/span 1;
}

.priceAmounts{
	grid-column: 6/span 2;
	grid-row: 4/span 1;

}
.numItems{
	grid-column: 2/span 2;
	grid-row: 5/span 1;
}

.checkoutButton {
	grid-column: 5/span 1;
	grid-row: 5/span 2;
	float: right;
}

/*--------Shopping Cart Module-----*/

.priceAmounts{
	text-align: right;
}

.checkoutButton{
	margin: 0.5rem;
}

.productOne{
}

.hangLamp{
}

.order1, .order2{
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.deskLamp{
}

/* Sub Navigation */
.subNavContainer {
  width: 80%;
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  z-index: -1;
  background-color: white;
}

.subNavCategory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.subNavIMG {

}

/* Sub Navigation */
.subNavigation {
  display: none;
  width: 100vw;
  margin-top: 5em;
  background-color: white;
  left: 0;

}

.subNavContainer {

}

.subNavigation a {
	text-decoration: none;
	margin-bottom: 10px;
  text-align: left;
  margin-left: 0;
}

.subNavCategory {
	display: grid;
}

.subNavigation h5 {
	margin-top: 0;
}

.subNavCategoryCollum2 {
	padding-top: 25px;
}

.subNavCategoryCollum1 {

}

.subNavContainer {
	width: 80vw;
	margin: 0 auto;
}

.subNavCategory, .subNavLightingTypes, .subNavFeatures {
	margin-top: 20%;
}

/* Subnav Animation */
#hoverable {

  z-index: -1000;
}
#hoverable:hover .subNavigation {
  display: block;
  position: absolute;
}

.navContainer{
	z-index: 1000;
}

/* Mini Shopping Cart Container */

.close{
	margin-top: 2.5rem;
	grid-column: 12/span 1;
}

.miniShoppingCartContainer {
  min-width: 30vw;
  z-index: 1000;
  position: fixed;
  right: 0;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}

.miniShoppingCartContainer .shoppingcartContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 2fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

.miniShoppingCartContainer .shoppingcartContainer > h3{
	grid-column: 2/span end;
}

.miniShoppingCartContainer .shoppingcartContainer h3 {
  margin-top: -50px;
}
.cart{
	grid-column: 1/span 12;
}
.cart-total{
	grid-column: 1/span 12;
}

#blackBackground {
  margin-top: -5.7em;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  z-index: 1000;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Checkout Order Summary */

#summary.cart{
	grid-column: 1/span end;
}

.navContainer {
  display: flex;
  justify-content: space-between;
    align-items: center;
    grid-column: 1/span 12;
}

.navButtons {
	list-style-type: none;
  /* background-color: red; */
  min-width: 520px;
}

.navButtons li{
/* float: right; */
}



@media screen and (max-width: 70em){

  .navContainer{
  	grid-template-rows: 2fr;
    display: grid;
}

.navButtons{
	grid-row: 2;
  grid-column: 1/span 12;
  min-width: 100vw;
}

  /* Shop Tile */
  .shopModule {
    grid-template-columns: 1fr;
  }

  .shopTile{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 9fr;
    width:90vw;
  }

  .shopTile .productCard:first-of-type{
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(2){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(3){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(4){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(5){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(6){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(7){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(8){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(9){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }


  /* Contact Modules */
	#contactModules {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column: 1/span 8;
	}

  /* Sub Navigation */
  .subNavContainer {
    width: 80%;
    /* margin-left: 0; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  /* Sub Navigation */
  .subNavigation {
    display: none;
    margin-left: -66vw;
    width: 100vw;
    margin-left: 0vw;
    float: left;
    margin-top: 5em;
    background-color: white;
  }

  .subNavCategory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .subNavIMG {
    display: none;
  }

/* filter  */
  .filterContainer{
    width: 90vw;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  #blackBackground {
    position: static;
  }

/* shopping module */
  .miniShoppingCartContainer {
    left: 0;
    width: 100vw;
    /* margin-top: -20vh; */
    height: 130vh;
    position: static;
    overflow-y: visible;
  }

  .miniShoppingCartContainer .shoppingcartContainer h3 {
    margin-top: -10px;
  }

  .light {
    height: 30vh;
  }

  .light-name, .light-price, .light-offer, .light-qauntity, .light-remove {
  	display: block;
    width: 100%;
  }

  .miniShoppingCartContainer .shoppingcartContainer h3{
    margin-top: 0;
  }


  .light img {
    height: 30vh;
    width: 30vw;
  }

  .light-info {
    margin-top: -15px;
  }

  .light-remove{
    bottom: -.5rem;
    right: 1.25rem;
    width: 80%;
  }

  .light-price {
    margin-bottom: 0;
  }

  .light-qauntity {
    margin-top: -5vh;
  }

}
