/* About Designers Page*/

.aboutContainter{
	display:grid;
	height:100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 0.75fr 1fr 1fr 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.2rem;
}

#aboutDesigners{
	grid-column: 2/end;
	grid-row: 1/ span 1; 
}

#bonnie{
	grid-column: 2/span 3;
	grid-row: 2/span 1;
}

#jonathan{
	grid-column: 5/span 3;
	grid-row: 2/span 1;
}

#shaanti{
	grid-column: 8/span 3;
	grid-row: 2/span 1;
}

#about.footBarContainer{
	grid-column: 8/span 3;
}

@media only screen and (max-width: 40rem){

	#aboutDesigners{
		grid-column: 1/end;
		grid-row: 1/span 1;
		padding-left: 2rem;
	}

	#bonnie{
		grid-column: 1/end;
		grid-row: 2/span 1;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	#jonathan{
		grid-column: 1/end;
		grid-row: 3/span 1;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	#shaanti{
		grid-column: 1/end;
		grid-row: 4/span 1;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
}

/* Product Detail Page*/
.productdetailContainer{
	display:grid;
	height:100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 1.5rem;
	grid-row-gap: 1rem;
}

#prodHeroImg{
	/*background-image: url('img/productdetailhero.png');*/
	grid-column: 1/end;
	grid-row: 1/1;
}

#productDescrip{
	grid-column: 1/end;
}

#userSubImg{
	grid-column: 2/end;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

#photoGallery{
	grid-column: 1/end;
}
#similiarProd{
	grid-column: 2/end;
}
#quizCTA{
	grid-column: 1/end;
}

	/* Product Detail PG-Hero/Banner*/
.ckBannerContainer{
	background: url('../img/productdetailhero.png') repeat 0 0;
	height: 32rem;
	background-size: cover;
	display:grid;
	grid-template-columns:repeat(13, 1fr);
	grid-column-gap: 0.5rem;
}
.ckLampText{
margin-top: 12rem;
grid-column: 8/span 4;
}
		/* Product Detail PG-Product Spec Breakdown Section*/
.modulePatternContainer{
display:grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr 0.5fr 1.25fr;
grid-column-gap: 2em;
grid-row-gap: 2em;
}

	/*Description*/
.descriptionContainer{
grid-column: 2/span 5;
grid-row: 1/span 1;
}

	/*Buttons*/
.featureBtn{
grid-column: 2/span 3;
display: inline-block;
background-color: white;
box-shadow: var(--dropShadow);
opacity:50%;
font-size:1rem;
color: var(--textColour);
font-weight: bold;
text-align: left;
text-decoration:none;
padding: 0.75em;
padding-left: 5em;
min-height: 5rem;
}

.featureBtn:first-of-type{
grid-row: 2/span 1;
}

.featureBtn:nth-of-type(2){
grid-row: 3/span 1;
}
.featureBtn:last-of-type{
grid-row: 4/span 1;
}

.featureBtn:hover, .featureBtn a:focus, a:active{
opacity:100%;
}

.dot{
height: 1em;
width: 1em;
background-color: var(--CTAColour);
border-radius: 50%;
display: inline-block;
margin-top: 2.5rem;
margin-left: 3em;
}

	/*Product image*/
.imgContainer{
grid-column: 5/span 7;
grid-row: 2/span 3;
}

.imgContainer img{
width: 60rem;
height: 25rem;
object-fit:cover;
}

	/* Product Detail PG-Product Specifications*/
.productSpecsHeader{
grid-column: 2/span 10;
grid-row: 5/span 1;
margin-bottom: 0.5rem;
}

.productSpecsTitle{
text-decoration:underline;
}

.productSpecs{
grid-row: 6/span 1;
list-style-type:none;
margin-left: -2.5rem;
margin-top: -1rem;
}
.productSpecs:first-of-type{
grid-column: 2/span 3;
}

.productSpecs:nth-of-type(2){
grid-column: 5/span 3;
}

.productSpecs:last-of-type{
grid-column: 8/span 3;
}

	/* Product Detail PG-Product Image Gallery Module--*/

.productGalleryContainer{
	display:grid;
	grid-template-columns:repeat(12, 0.5fr);
	grid-template-rows: repeat(2, 0.5fr);
	grid-gap: 0.5rem;
	margin-bottom: 5em;
}

figure.galleryImg-1 {
	margin: 0em;
	grid-column: 2/span 4;
	grid-row: 1/ span 2;
}

figure.galleryImg-2{
	margin: 0em;
	grid-column: 6/span 3;
	grid-row: 1/ span 2;
}

figure.galleryImg-3{
	margin: 0em;
	grid-column: 9/span 3;
	grid-row: 1/ span 1;
}

figure.galleryImg-4{
	margin: 0em;
	grid-column: 9/span 3;
	grid-row: 2/ span 1;
}

	/* Product Detail PG-Recommendation of Similiar Products*/
#recHeader{
		grid-column: 2/span end;
}
.recModContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 0.2fr ;
	grid-column-gap: 2em;
	grid-row-gap: 2em;
}

.descriptionTitle{
grid-column: 1/span 12;
}

.productDetails{
display: grid;
grid-template-columns: 1fr 0.1fr
}

.productCard img{
width: 25rem;
}

.productCard:first-of-type{
grid-column: 1/span 2;
grid-row-start: 1;
}

.productCard:nth-of-type(2){
grid-column: 3/span 2;
grid-row-start: 1;
}

.productCard:nth-of-type(3){
grid-column: 5/span 2;
grid-row-start: 1;
}

.productCard:nth-of-type(4){
grid-column: 7/span 2;
grid-row-start: 1;
}

.productCard:last-of-type{
grid-column: 9/span 3;
grid-row-start: 1;
background-image: var(--gradientColour);
padding-right: 1em;
}

	/* Product Detail PG- Quiz CTA*/
.quizBannerContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.quizBH{
	grid-column: 2/end;
}

.quizCTA{
	grid-column: 2/span 2;
}


@media screen and (max-width: 45em){
	/*responsiveness for the product gallery*/
	.productGalleryContainer{
	grid-template-rows: repeat(4, 0.1fr);

	}
	figure.galleryImg-1 {
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 1/ span 1;
	}

	figure.galleryImg-2{
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 2/ span 1;
	}

	figure.galleryImg-3{
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 3/ span 1;
	}

	figure.galleryImg-4{
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 4/ span 1;
	}
	/*responsiveness for the recommondation of similar product*/
	.recModContainer{
	grid-template-rows: (5,0.2fr);
	grid-row-gap: 2em;
	margin-bottom: 5rem;
}
	.productCard:first-of-type{
	grid-column: 1/span 11;
	grid-row-start: 1;
	}

	.productCard:nth-of-type(2){
	grid-column: 1/span 11;
	grid-row-start: 2;
	}

	.productCard:nth-of-type(3){
	grid-column: 1/span 11;
	grid-row-start: 3;
	}

	.productCard:nth-of-type(4){
	grid-column: 1/span 11;
	grid-row-start: 4;
	}

	.productCard:last-of-type{
	grid-column: 1/span 11;
	grid-row-start: 5;
	background-image: var(--gradientColour);
	padding-bottom: 2em;
	}
	.imgContainer{
		margin-left: 3.9rem;
	}

	.imgContainer img{
		width: 37rem;
	}

	.featureBtn{
		padding-left: 7rem;
	}
/* responsiveness for text and cta on banner*/
	.ckLampText{
	margin-top: 10rem;
	grid-column: 2/span 10;
	}
}

@media screen and (max-width: 45em){
	.imgContainer{
		margin-left: 2.9rem;
	}

	.imgContainer img{
		width: 26rem;
	}
}

/* Checkout & Payment Method Form Fill*/
.checkoutContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

.checkoutBox{
	grid-column: 1 / span 7;
}

.containerCH {
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
 	box-shadow: var(--dropShadow);
 	padding: 0rem 2.5rem 1.25rem 2.5rem;
 	margin: 2rem;
}

.cardCode{
	grid-column: 1/ span end;
}

.col1{
	grid-column: 1 /span 1;
}

.col2{
	grid-column: 2 /span 1;
}

.colfull{
	grid-column: 1 /span 2;
}

.total{
	margin-top: 1.25rem;
	grid-column: 8/ span end;
}

#order.btnStyle{
	grid-column: 6/ span 3;
}

input[type=nametext] {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=checkbox]{
width: 5%;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
	width: 50%;
 	display: block;
 	margin: 0;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout for checkout-the two columns changed 1 stacked column*/
@media screen and (max-width: 65em){
	.total{
		margin-top: 1.25rem;
		padding-right: 2rem;
		padding-left: 2rem;
		grid-column: 1/ span end;
	}
	#order.btnStyle{
		grid-column: 12/ span 1;
		margin-bottom: 2rem;
	}
	.checkoutBox {
	grid-column: 1/ span end;
	}

}

/* On mouse-over, add a grey background color */
.boxContainer:hover input ~ .check {
  background-color: #D3D3D3;
}

/* When the checkbox is checked, add a blue background */
.boxContainer input:checked ~ .check {
  background-color: #468CFF;
}

.divide{
	border-top: 0.05rem solid #D3D3D3;
}

/* ---- New Shopping Cart Overveiw & Checkout Module------ */
.close{
	margin-top: 2.5rem;
	grid-column: 12/span 1;
}
.shoppingcartContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}
.shoppingcartContainer > h3{
	grid-column: 2/span end;
}
.cart{
	grid-column: 2/span 7;
}
.cart-total{
	grid-column: 9/span 3;
}

/* Checkout Order Summary */

#summary.cart{
	grid-column: 1/span end;
}

/*------ Order Confirmation Page -------*/

.confirmContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}
.confirm-info {
	margin-top: 10rem;
	margin-bottom: 2rem;
	grid-column: 1/ span end;
	text-align: center;
}
.confirm-info > h1{
	margin: 0rem;
}


/* Sub Navigation */
.subNavContainer {
  width: 80%;
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  z-index: -1;
  background-color: white;
}

.subNavCategory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.subNavIMG {

}

/* Sub Navigation */
.subNavigation {
  display: none;
  width: 100vw;
  margin-top: 5em;
  background-color: white;
  left: 0;

}

.subNavContainer {

}

.subNavigation a {
	text-decoration: none;
	margin-bottom: 10px;
  text-align: left;
  margin-left: 0;
}

.subNavCategory {
	display: grid;
}

.subNavigation h5 {
	margin-top: 0;
}

.subNavCategoryCollum2 {
	padding-top: 25px;
}

.subNavCategoryCollum1 {

}

.subNavContainer {
	width: 80vw;
	margin: 0 auto;
}

.subNavCategory, .subNavLightingTypes, .subNavFeatures {
	margin-top: 20%;
}

/* Subnav Animation */
#hoverable {

  z-index: -1000px;
}
#hoverable:hover .subNavigation {
  display: block;
  position: absolute;
}

.navContainer{
	z-index: 1000px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
    align-items: center;
    grid-column: 1/span 12;
}

.navButtons {
	list-style-type: none;
  /* background-color: red; */
  min-width: 520px;
}

.navButtons li{
/* float: right; */
}

@media screen and (max-width: 70em){

  .navContainer{
  	grid-template-rows: 2fr;
    display: grid;
}

.navButtons{
	grid-row: 2;
  grid-column: 1/span 12;
  min-width: 100vw;
}

/* Mobile Nav*/
  /* Sub Navigation */
  .subNavContainer {
    width: 80%;
    /* margin-left: 0; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  /* Sub Navigation */
  .subNavigation {
    display: none;
    margin-left: -66vw;
    width: 100vw;
    margin-left: 0vw;
    float: left;
    margin-top: 5em;
    background-color: white;
  }

  .subNavCategory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .subNavIMG {
    display: none;
  }

 /* Shop Tile */
  .shopModule {
    grid-template-columns: 1fr;
  }

  .shopTile{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 9fr;
    width:90vw;
  }

  .shopTile .productCard:first-of-type{
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(2){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(3){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(4){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(5){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(6){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(7){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(8){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }

  .shopTile .productCard:nth-of-type(9){
    grid-column: 1/span 3;
    grid-row-start: auto;
  }


  /* Contact Modules */
	#contactModules {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column: 1/span 8;
	}

  /* Sub Navigation */
  .subNavContainer {
    width: 80%;
    /* margin-left: 0; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  /* Sub Navigation */
  .subNavigation {
    display: none;
    margin-left: -66vw;
    width: 100vw;
    margin-left: 0vw;
    float: left;
    margin-top: 5em;
    background-color: white;
  }

  .subNavCategory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .subNavIMG {
    display: none;
  }

/* filter  */
  .filterContainer{
    width: 90vw;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  #blackBackground {
    position: static;
  }

/* shopping module */
   #blackBackground .miniShoppingCartContainer {
    left: 0;
    width: 100vw;
    /* margin-top: -20vh; */
    height: 130vh;
    position: static;
    overflow-y: visible;
  }

 #blackBackground .miniShoppingCartContainer .shoppingcartContainer h3 {
    margin-top: -10px;
  }

  #blackBackground.light {
    height: 30vh;
  }

  #blackBackground.light-name, .light-price, .light-offer, .light-qauntity, .light-remove {
  	display: block;
    width: 100%;
  }

  #blackBackground .miniShoppingCartContainer .shoppingcartContainer h3{
    margin-top: 0;
  }


 #blackBackground .light img {
    height: 30vh;
    width: 30vw;
  }

  #blackBackground .light-info {
    margin-top: -15px;
  }

  #blackBackground .light-remove{
    bottom: -.5rem;
    right: 1.25rem;
    width: 80%;
  }

  #blackBackground .light-price {
    margin-bottom: 0;
  }

  #blackBackground .light-qauntity {
    margin-top: -5vh;
  }

}


/* Mini Shopping Cart Container */

#blackBackground .close{
	margin-top: 2.5rem;
	grid-column: 12/span 1;
}

#blackBackground .miniShoppingCartContainer {
  min-width: 30vw;
  z-index: 1000px;
  position: fixed;
  right: 0;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}

#blackBackground .miniShoppingCartContainer .shoppingcartContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 2fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

#blackBackground .miniShoppingCartContainer .shoppingcartContainer > h3{
	grid-column: 2/span end;
}

#blackBackground .miniShoppingCartContainer .shoppingcartContainer h3 {
  margin-top: -50px;
}
#blackBackground .cart{
	grid-column: 1/span 12;
}
#blackBackground .cart-total{
	grid-column: 1/span 12;
}

#blackBackground {
  margin-top: -5.7em;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  z-index: 1000px;
}

.hide {
  display: none;
}
.show {
  display: block;
}

/* Checkout Order Summary */

#blackBackground #summary.cart{
	grid-column: 1/span end;
}
