/* About Designers Page*/

.aboutContainter{
	display:grid;
	height:100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 0.75fr 1fr 1fr 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.2rem;
}

#aboutDesigners{
	grid-column: 2/end;
	grid-row: 1/ span 1; 
}

#bonnie{
	grid-column: 2/span 3;
	grid-row: 2/span 1;
}

#jonathan{
	grid-column: 5/span 3;
	grid-row: 2/span 1;
}

#shaanti{
	grid-column: 8/span 3;
	grid-row: 2/span 1;
}

#about.footBarContainer{
	grid-column: 8/span 3;
}

@media only screen and (max-width: 40rem){

	#aboutDesigners{
		grid-column: 1/end;
		grid-row: 1/span 1;
		padding-left: 2rem;
	}

	#bonnie{
		grid-column: 1/end;
		grid-row: 2/span 1;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	#jonathan{
		grid-column: 1/end;
		grid-row: 3/span 1;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	#shaanti{
		grid-column: 1/end;
		grid-row: 4/span 1;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
}

/* Product Detail Page*/
.productdetailContainer{
	display:grid;
	height:100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 1.5rem;
	grid-row-gap: 1rem;
}

#prodHeroImg{
	grid-column: 1/end;
	grid-row: 1/1;
}

#productDescrip{
	grid-column: 1/end;
}

#userSubImg{
	grid-column: 2/end;
	margin-bottom: 5rem;
}

#photoGallery{
	grid-column: 1/end;
}
#similiarProd{
	grid-column: 2/end;
}
#quizCTA{
	grid-column: 1/end;
}

	/* Product Detail PG-Hero/Banner*/
.ckBannerContainer{
	background-image: url('img/productdetailhero.png');
	background-repeat: no-repeat;
	height: 30rem;
	background-size: cover;
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.5rem;
}
.ckLampText{
margin-top: 10rem;
grid-column: 8/span 4;
}
		/* Product Detail PG-Product Spec Breakdown Section*/
.modulePatternContainer{
display:grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1.5fr 0.75fr 0.75fr 0.75fr 0.5fr 1.25fr;
grid-column-gap: 2em;
grid-row-gap: 2em;
background-color: white;
}

	/*Description*/
.descriptionContainer{
grid-column: 2/span 5;
grid-row: 1/span 1;
}

	/*Buttons*/
.featureBtn{
grid-column: 2/span 3;
display: inline-block;
background-color: white;
box-shadow: var(--dropShadow);
opacity:50%;
font-size:1rem;
color: var(--textColour);
font-weight: bold;
text-align: left;
text-decoration:none;
padding: 0.75em;
padding-left: 5em;
min-height: 5rem;
}

.featureBtn:first-of-type{
grid-row: 2/span 1;
}

.featureBtn:nth-of-type(2){
grid-row: 3/span 1;
}
.featureBtn:last-of-type{
grid-row: 4/span 1;
}

.featureBtn:hover, .featureBtn a:focus, a:active{
opacity:100%;
}

.dot{
height: 1em;
width: 1em;
background-color: var(--CTAColour);
border-radius: 50%;
display: inline-block;
margin-top: 2.5rem;
margin-left: 3em;
}

	/*Product image*/
.imgContainer{
grid-column: 5/span 7;
grid-row: 2/span 3;
}

.imgContainer img{
width: 60rem;
height: 25rem;
object-fit:cover;
}

	/* Product Detail PG-Product Specifications*/
.productSpecsHeader{
grid-column: 2/span 10;
grid-row: 5/span 1;
margin-bottom: 0.5rem;
}

.productSpecsTitle{
text-decoration:underline;
}

.productSpecs{
grid-row: 6/span 1;
list-style-type:none;
margin-left: -2.5rem;
margin-top: -1rem;
}
.productSpecs:first-of-type{
grid-column: 2/span 3;
}

.productSpecs:nth-of-type(2){
grid-column: 5/span 3;
}

.productSpecs:last-of-type{
grid-column: 8/span 3;
}

	/* Product Detail PG-Product Image Gallery Module--*/

.productGalleryContainer{
	display:grid;
	grid-template-columns:repeat(12, 0.5fr);
	grid-template-rows: repeat(2, 0.5fr);
	grid-gap: 0.5rem;
	margin-bottom: 5em;
}

figure.galleryImg-1 {
	margin: 0em;
	grid-column: 2/span 4;
	grid-row: 1/ span 2;
}

figure.galleryImg-2{
	margin: 0em;
	grid-column: 6/span 3;
	grid-row: 1/ span 2;
}

figure.galleryImg-3{
	margin: 0em;
	grid-column: 9/span 3;
	grid-row: 1/ span 1;
}

figure.galleryImg-4{
	margin: 0em;
	grid-column: 9/span 3;
	grid-row: 2/ span 1;
}

	/* Product Detail PG-Recommendation of Similiar Products*/
#recHeader{
		grid-column: 2/span end;
}
.recModContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 0.2fr ;
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	margin-bottom: 5rem;
}

.descriptionTitle{
grid-column: 1/span 12;
}

.productDetails{
display: grid;
grid-template-columns: 1fr 0.1fr
}

.productCard img{
width: 25rem;
}

.productCard:first-of-type{
grid-column: 1/span 2;
grid-row-start: 1;
}

.productCard:nth-of-type(2){
grid-column: 3/span 2;
grid-row-start: 1;
}

.productCard:nth-of-type(3){
grid-column: 5/span 2;
grid-row-start: 1;
}

.productCard:nth-of-type(4){
grid-column: 7/span 2;
grid-row-start: 1;
}

.productCard:last-of-type{
grid-column: 9/span 3;
grid-row-start: 1;
background-image: var(--gradientColour);
padding-right: 1em;
}

	/* Product Detail PG- Quiz CTA*/
.quizBannerContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.quizBH{
	grid-column: 2/end;
}

.quizCTA{
	grid-column: 2/span 2;
}


@media screen and (max-width: 45em){
	/*responsiveness for the product gallery*/
	.productGalleryContainer{
	grid-template-rows: repeat(4, 0.1fr);

	}
	figure.galleryImg-1 {
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 1/ span 1;
	}

	figure.galleryImg-2{
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 2/ span 1;
	}

	figure.galleryImg-3{
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 3/ span 1;
	}

	figure.galleryImg-4{
	margin: 0em;
	grid-column: 2/span 10;
	grid-row: 4/ span 1;
	}
	/*responsiveness for the recommondation of similar product*/
	.recModContainer{
	grid-template-rows: (5,0.2fr);
	grid-row-gap: 2em;
	margin-bottom: 5rem;
}
	.productCard:first-of-type{
	grid-column: 1/span 11;
	grid-row-start: 1;
	}

	.productCard:nth-of-type(2){
	grid-column: 1/span 11;
	grid-row-start: 2;
	}

	.productCard:nth-of-type(3){
	grid-column: 1/span 11;
	grid-row-start: 3;
	}

	.productCard:nth-of-type(4){
	grid-column: 1/span 11;
	grid-row-start: 4;
	}

	.productCard:last-of-type{
	grid-column: 1/span 11;
	grid-row-start: 5;
	background-image: var(--gradientColour);
	padding-bottom: 2em;
	}
	.imgContainer{
		margin-left: 3.9rem;
	}

	.imgContainer img{
		width: 37rem;
	}

	.featureBtn{
		padding-left: 7rem;
	}
/* responsiveness for text and cta on banner*/
	.ckLampText{
	margin-top: 10rem;
	grid-column: 2/span 10;
	}
}

@media screen and (max-width: 45em){
	.imgContainer{
		margin-left: 2.9rem;
	}

	.imgContainer img{
		width: 26rem;
	}
}

/* Checkout & Payment Method Form Fill*/
.checkoutContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

.container {
	grid-column: 1/ span 7;
 	background-color: white;
 	box-shadow: var(--dropShadow);
 	padding: 0rem 2.5rem 1.25rem 2.5rem;
 	margin: 2rem;
}


.total{
	margin-top: 1.25rem;
	grid-column: 8/ span end;
}

#order.btnStyle{
	grid-column: 6/ span 3;
}

input[type=nametext] {
  width: 50%;
  margin-bottom: 1.25rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=checkbox]{
width: 5%;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
	width: 50%;
 	display: block;
 	margin: 0;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}



span.price {
  float: right;
  color: grey;
}

/* Responsive layout for checkout-the two columns changed 1 stacked column*/
@media screen and (max-width: 65em){
	.total{
		margin-top: 1.25rem;
		grid-column: 1/ span end;
	}
	#order.btnStyle{
		grid-column: 2/ span 1;
		margin-bottom: 2rem;
	}
	.container {
	grid-column: 1/ span end;
	}

}

/* On mouse-over, add a grey background color */
.boxContainer:hover input ~ .check {
  background-color: #D3D3D3;
}

/* When the checkbox is checked, add a blue background */
.boxContainer input:checked ~ .check {
  background-color: #468CFF;
}

.divide{
	border-top: 0.05rem solid #D3D3D3;
}

/* New Shopping Cart Module */
.close{
	margin-top: 2.5rem;
	grid-column: 12/span 1;
}
.shoppingcartContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}
.shoppingcartContainer > h3{
	grid-column: 2/span end;
}
.cart{
	grid-column: 2/span 7;
}
.cart-total{
	grid-column: 9/span 3;
}

/* Checkout Order Summary */

#summary.cart{
	grid-column: 1/span end;
}

/*------ Order Confirmation Page -------*/

.confirmContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}
.confirm-info {
	margin-top: 10rem;
	margin-bottom: 2rem;
	grid-column: 1/ span end;
	text-align: center;
}
.confirm-info > h1{
	margin: 0rem;
}
