*{
	box-sizing:border-box; /*Controls how we measure our width*/
}
:root{ /*global styling+declarations: Variables: https://www.w3schools.com/css/css3_variables.asp*/
	--CTAColour: #468CFF;
	--textColour: #212429;
	--bgColour: #FCFCFC;
	/* Linear Gradients: https://www.w3schools.com/css/css3_gradients.asp*/
	--gradientColour: linear-gradient(135deg, rgba(251, 203, 79, 25%), rgba(253, 60, 89, 20%), rgba(111, 163, 249, 20%));
	--dropShadow: 0em 0em 1em rgba(0, 0, 0, 0.05); 	/*Blur box: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

	font-family: Lato, sans-serif;
	color: var(--textColour);
	background-color: var(--bgColour);
}

.navContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

/*-----------Section Styling---------*/
.sectionContainer{
	margin-bottom: 2.5rem;
	margin-top: 0;
}

/*-----------Typography-----------*/
h1, h2, h3, h4{
	font-family: Poppins, sans-serif;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

h3 {
	font-size: 2rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0.5rem;
	margin-left: 0;
}

body {
	font-size: 1rem;
}


p a{
	font-weight: bold;
}

/*-----------Interactive Elements-----------*/
/*CTA Button*/
.btnStyle{
	display: inline-block;
	background-color: var(--CTAColour);
	border-radius: 0.75rem;
	width: 12rem;
	font-size:1rem;
	color: white;
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
}

.btnStyle:hover{
	font-weight: bold;
	background-color: #2678ff;
}

.btnStyle:focus, .btnStyle:active{
	color: var(--textColour);
}

/*Form Buttons*/
button.btnStyle, input.btnStyle{
	border-style: none;
}

.btnStyleDisabled{
	display: inline-block;
	background-color: var(--CTAColour);
	border-radius: 0.75rem;
	border-style: none;
	width: 12rem;
	font-size:1rem;
	color: white;
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
	opacity: 50%;
	cursor: not-allowed;
	margin-left: 1rem;
}

.btnReset{
	display: inline-block;
	background-color: white;
	border-radius: 0.75rem;
	border: 0.15rem solid var(--CTAColour);
	width: 12rem;
	font-size:1rem;
	color: var(--CTAColour);
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
	opacity: 50%;
	margin-top: 2rem;
	margin-left: 1rem;
}

.btnReset:hover{
	background-color: var(--CTAColour);
	font-weight: bold;
	color:white;
	opacity: 100%;
}

/*Form Fields*/
input{
	margin: 0rem;
	margin-top: 1rem;
	width: 28em;
	background-color: white;
	box-shadow: var(--dropShadow);
	border: none;
	padding: 10px;
}

input[type=text]:focus{
	/*background-color: #2222;*/
}

label{
	color: var(--textColour);
	font-weight: bold;
}

/*-----------Feature Module Pattern-----------*/
/*Tutorial: https://www.w3schools.com/css/css_navbar_horizontal.asp*/
/*Nav Bar Module*/
.logo{
	margin: 0.5rem;
	margin-top: 1rem;
}

.navBarContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

.navButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	overflow: hidden;*/
}

.navButtons li{
	float: left;
	margin: 0.15rem;
}

.navButtons a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0.25rem;
	color: var(--textColour);
	margin: 1.25rem;
	margin-top: 1.75rem;
}

.navButtons a:hover{
	font-weight: bold;
}

.navButtons a:focus, a:active{
	text-decoration: underline;
}

/*Feature Module*/
.modulePatternContainer{
	/*background-color: white;
	box-shadow: var(--dropShadow);*/
}

/*Feature Module Buttons*/
.dot{
  height: 1em;
  width: 1em;
  background-color: var(--CTAColour);
  border-radius: 50%;
  display: inline-block;
  margin-top: 2.5rem;
  margin-left: 3em;
}

.featureBtn{
	display: inline-block;
	background-color: white;
	box-shadow: var(--dropShadow);
	opacity:50%;
	font-size:1rem;
	color: var(--textColour);
	font-weight: bold;
	text-align: left;
	text-decoration:none;
	padding: 0.75em;
	padding-left: 5em;
	min-height: 5rem;
}

.featureBtn:hover, .featureBtn a:focus, a:active{
	opacity:100%;
}

/*image*/
.imgContainer img{ /*https://stackoverflow.com/questions/15685666/changing-image-sizes-proportionally-using-css*/
	width: 60rem;
	height: 25rem;
	object-fit:cover;
}

.productSpecsHeader{
	margin-bottom: 0.5rem;
}

.productSpecs{
	list-style-type:none;
	margin-left: -2.5rem;
	margin-top: -1rem;
}

.productSpecsTitle{
	text-decoration:underline;
}

/*Recommendation Module*/
.productCard img{
	width: 100%;
}
.productCard:last-of-type{
	background-image: var(--gradientColour);
	height: auto;
}

.productCardText, .blogCardText{
	font-size: 1.5rem;
	margin-top: 10rem;
	margin-left: 3.5rem;
	width:clamp(7ch, 80%, 13ch);
}

.productCardText a:hover, .blogCardText a:hover{
	font-weight: bold;
}

.productCardText a, .blogCardText a{
	text-decoration: none;
}

#productCTA{
	margin-top: 0.5rem;
	margin-left: 3rem;
}

/*-----------Value Module-----------*/
.valueAndBlogCard{
	background-image: var(--gradientColour);
	min-height: 18rem; /*31.5rem for 1920px*/
	position: relative;
}

.companyValues{
	text-align: center;
	padding-top: 7rem;
	font-size: 1.25rem;
}

/*-----------Blog Module-----------*/
/*How to overlap images (position and z-index property): https://www.w3docs.com/snippets/css/how-to-position-one-image-on-top-of-another-in-html-css.html*/
.blogImg{
	width: 100%;
	position: relative;
	z-index: -1;
}

.blogBlurredImgBg{
	width: 100%;
	max-height: 15rem;
	object-fit: cover;
	/*Object fit:
	https://css-tricks.com/almanac/properties/o/object-position/*/
	object-position: left bottom;
	margin-top: -50rem;
	filter: blur(0.2em);
}

.blogTitle{
	color: white;
	margin-top: -13rem;
	padding-left: 3.5rem;
}

.blogDescription{
	color: white;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	width: 100%;
}

.inTextCTAStyle{
	font-weight: bold;
	color: white;
	padding-left: 3.5rem;
}

.blogInfoBackground{
	position: absolute;
	z-index: 1;
}

#blogCTA{
	margin-top: 2rem;
	margin-left: 3rem;
}

/*-----------Quiz Module-----------*/
.quizBgContainer{
	/*display: none;*/ /*sets state to hidden by default*/
	position: fixed;
	z-index: -1;
	background-color: rgba(135, 135, 135, 80%);
	width: 100vw; /*full width*/
	height: 100vh; /*full height*/
	overflow: auto; /*scroll if needed*/
}

/*styling*/
.quizGrid{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem;
	padding-right: 6.25rem;
	margin-top: 4rem;
}

.progressBarContainer{
	width: 100%;
	height: 1.5rem;
	background-color: white;
	border-radius: 0.2rem;
	border: 0.1rem solid var(--textColour);
	margin-top: 5rem;
}

.progressBarProgress{
	width: 14%;
	height: 1.4rem;
	background-color: var(--CTAColour);
	border-radius: 0.2rem;
	/*margin-top: -0.05rem;*/
}

/*grid*/
.quizContainer{
	grid-column: 3/span 8;
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column-gap: 1.5rem;
	grid-template-rows: 0.1fr 0.1fr 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
	overflow: auto;
	background-color: white;
	height: 75vh;
	z-index: 1;
}

.quizNavBar{
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1.5rem;
	grid-column: 1/span 10;
	grid-row: 1;
	background-color: white;
	box-shadow: var(--dropShadow);
}

#close{
	grid-column: 9;
	grid-row: 1;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.progressBarContainer{
	grid-column: 3/span 6;
	grid-row: 2/span 1;
}

.question{
	grid-column: 3/span 6;
}

.question a{
	text-decoration: none;
}

/*.helpIcon: hover{
	fill: red;
}*/

.quizBtnStyle:first-of-type{
	grid-column: 3/span 3;
	grid-row: 4/span 1;
}

.quizBtnStyle:nth-of-type(2){
	grid-column: 6/span 3;
	grid-row: 4/span 1;
}

.quizBtnStyle:nth-of-type(3){
	grid-column: 3/span 3;
	grid-row: 5/span 1;
}

.quizBtnStyle:nth-of-type(4){
	grid-column: 6/span 3;
	grid-row: 5/span 1;
}

/*Continue*/
#continue{
	grid-column: 5/span 2;
	grid-row: 8/span 1;
	width:100%;
	height: 100%;
}

.textBtnStyle{
	grid-column: 5/span 2;
	grid-row: 9/span 1;
	background-color: white;
	border: none;
	color: rgb(135, 135, 135);
}

/*No Preference*/
#noPreference{
	text-decoration: underline;
	height: 100%;
	margin: 0.5rem;
}

#back{
	grid-column: 2/span 2;
	grid-row: 1;
	width: 75%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.progressBarProgress{
	width: 14%;
	height: 1.4rem;
	background-color: var(--CTAColour);
	border-radius: 0.2rem;
}

.quizQuestion{
	margin-top: -1rem;
}

/*-----------Quiz (Text MC)-----------*/
.quizBtnStyle{
	display: inline-block;
	background-color: white;
	border-radius: 0.75rem;
	border: 0.1rem solid var(--CTAColour);
	width: 100%;
	font-weight: bold;
	font-size:1rem;
	color: var(--CTAColour);
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
	margin-bottom: 1.5rem;
}

.quizBtnStyle:hover, .quizBtnStyle:focus{
	border: 0.2rem solid var(--CTAColour);
}

/*-----------Quiz (Image selection)-----------*/
.quizCardImg{
	width: 95%;
}

.quizCard{
	margin-bottom: 1.5rem;
}

/*Progress Bar: Q5 of 7*/
#quizQFive{
	width: 57%;
}

/*-----------Colours-----------*/
#CTAColour{
	background-color: var(--CTAColour);
}


#gColour{
	background-image: var(--gradientColour);
}

#textColour{
	background-color: var(--textColour);
}

#bgColour{
	background-color: var(--bgColour);
}

ul, ol{
	line-height: 1.5rem;
}

/*-----------Footer Modular Patterns-----------*/
/*Footer*/
.footBarContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 10rem;
}

.footerResources li, .footerAbout li{
	list-style-type: none;
	text-align: left;
	margin-left: -2.5rem;
}
.footerResources a, .footerAbout a{
	display: block;
	font-size: 0.75rem;
	text-decoration: none;
	color: var(--textColour);
	margin-top: 0.25rem;
}

.footerResources{
	grid-column: 1/span 2;
}

.footerAbout{
	grid-column: 3/span 2;
}

.footerLogo{
	grid-column: 12/span 1;
}

.footerLogo img{
	width: 130%;
	height: auto;
	margin-left: -0.5rem;
}

.copyRight{
	grid-column: 5/span 4;
	text-align: center;
}

.socialMediaIcons{
	grid-column: 9/span 3;
}

.socialMediaIcons a{
	text-decoration: none;
}

/*Hero Slider*/
#heroSlider {
	height: 100vh;
	width: 100%;
	position: relative;
	margin: auto;
	overflow-x: hidden;
}

.slideImage img {
	width: auto;
	height: 100%;
	position: absolute;
}

.slideText {
	position: absolute;
	bottom: 100px;
  	left: 10%;
	width: 80%;
	text-align: left;
}

.sliderDot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dots {
	position: absolute;
  right: 10%;
	bottom: 100px;
}

.active {
  background-color: black;
}

.slideImage{
	grid-column: 1/span 12;
}

.slideImage img {
	width: 200%;
	max-height: 42vh;
	object-fit: cover;
}

.slideText {
	text-align: left;
	margin-top: -25rem;
	grid-column: 2/span 3;
}

.subheading{
	width:clamp(20ch, 80%, 28ch);
	font-weight: 400;
	margin-top: 0rem;
	margin-bottom: 1.5rem;
}

.sliderDot {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.heroSliderDots {
	position: absolute;
	z-index: 1;
  	right: 10%;
  	top: 55%;
	background-color: blue;
}

.active {
  background-color: black;
}

/*-----------Footer Module-----------*/
.footBarContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

.footerButtons {
	list-style-type: none;
	margin: 1.5rem;
	padding: 0;
/*	overflow: hidden;*/
}

.footerButtons li{
	float: left;
	margin: 0.15rem;
}

.footerButtons a {
	display: block;
	font-family: Opensans, sans-serif;
	font-size: 0.75rem;
	text-decoration: none;
	text-align: center;
	padding: 0.25rem;
	color: var(--textColour);
	margin: 0.1rem;
	margin-top: 0.25rem;
}

.footerLogo{
	margin: 0.5rem;
	margin-top: 13rem;
}

.copyRight{
	margin: 0.5rem;
	margin-top: 15rem;
}

.socialMediaIcons{
	margin: 0.5rem;
	margin-top: 15rem;
}

.iconFb, .iconTwitter, .iconLinkedIn{
	margin-right: 1.5rem;
}

.iconFb{
	margin-left: -0.5rem;
}
.iconIG{
	margin-right: 0rem;
}

/*-----------Quiz CTA Module-----------*/
/*Hero Image:
https://www.w3schools.com/howto/howto_css_hero_image.asp*/
.quizCTABanner{
	margin-top: 4rem;
	background-image: url('img/quizbanner.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 35rem;
	background-size: cover;
	margin-bottom: 4rem;
}
.quizBannerImg{
	margin-top: 5rem;
	max-width: 100%;
	height: 75%;
	object-fit: cover;
}

.quizDescription{
	position: absolute;
	left: 8.5%;
	margin-top: 10rem;
}

.quizBH{
	text-align: left;
	width:clamp(7ch, 80%, 15ch);
}

/*-----------Quiz CTA Module-----------*/

/*Header (Nav Bar)*/
.navContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
}

.navButtons{
	grid-column: 9/span 4;
}

.logo{
	grid-column: 1/span 2;
}

/*About us page*/
/*About Us / Mission*/
.sectionContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 4rem;
}
.aboutCompany{
	grid-column: 1/span 4;
	grid-row: 1;
}

.aboutCompanyImg{
	width: 100%;
	height: auto;
	background-color: gray;
	grid-column: 5/span 8;
}

/*Our Values Module*/
.ourValues{
	grid-column: 1/span 12;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
}

.moduleHeader{
	grid-column: 1/span 5;
}

.valueAndBlogCard:first-of-type{
	grid-column: 1/span 4;
}

.valueAndBlogCard:nth-of-type(2){
	grid-column: 5/span 4;
}

.valueAndBlogCard:last-of-type{
	grid-column: 9/span 4;
}

/*home page*/
.productRecommendation{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 4rem;
}

/*Product name/price*/
.productDetails{
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	margin-bottom: 0rem;
}

.productCard:first-of-type{
	grid-column: 1/span 3;
}

.productCard:nth-of-type(2){
	grid-column: 4/span 3;
}

.productCard:nth-of-type(3){
	grid-column: 7/span 3;
}

.productCard:last-of-type{
	grid-column: 10/span 3;
}

/*Quiz Banner CTA*/
.quizBanner{
	width: 100%;
	background-color: gray;
	grid-column: 1/span 12;
}

/*Breaking point: 1686px (aka 105.375rem)*/
@media screen and (max-width: 105.375em){
	.productCardText, .blogCardText{
		margin-top: 7rem;
	}
}

/*Breaking point: 1538px (aka 96.125rem)*/
@media screen and (max-width: 96.125em){
	.productCardText, .blogCardText{
		margin-top: 4rem;
	}
}

/*Breaking point: 1395px (aka 87.188rem)*/
@media screen and (max-width: 87.188em){
	.productCardText, .blogCardText{
		margin-top: 2rem;
		margin-left: 2rem;
		width:clamp(7ch, 80%, 13ch);
	}

	#productCTA, #blogCTA{
		margin-left: 2rem;
	}
}

/*Tablet (size ~1220px and down)*/
@media screen and (max-width:76em){

	/*Nav Bar*/
	.navContainer{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem; /*roughly 20px*/
		padding-left: 1.35rem; /*roughly 22px*/
		padding-right: 1.35rem;
	}

	.logo{
		grid-column: 1/span 2;
	}

	.navButtons{
		grid-column: 1/span 4;
	}

	/*Home page*/
	.productRecommendation{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
		padding-left: 1.35rem;
		padding-right: 1.35rem;
	}

	.productCard:first-of-type{
		grid-column: 1/span 2;
	}

	.productCard:nth-of-type(2){
		grid-column: 3/span 2;
	}

	.productCard:nth-of-type(3){
		grid-column: 1/span 2;
	}

	.productCard:last-of-type{
		grid-column: 3/span 2;
	}

	.productCardText{
		font-size: 2rem;
		margin-top: 15rem;
		margin-left: 5rem;
	}

	#productCTA{
		margin-left: 5rem;
	}

	.blogCardText{
		margin-top: 7rem;
	}

	#blogCTA{
		margin-bottom: 5rem;
	}

	/*About Us Section*/
	.sectionContainer{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.5rem;
		padding-left: 1.35rem;
		padding-right: 1.35rem;
		margin-top: 2rem;
	}

	.moduleHeader{
		grid-column: 1/span 4;
		margin-bottom: 1rem;
	}

	.aboutCompanyImg{
		grid-column: 1/span 4;
		margin-top: 2rem;
	}

	/*Quiz Popup*/
	.quizContainer{
		grid-column: 2/span 10;
	}

	/*Our Values Module*/
	.ourValues{
		grid-column: 1/span 4;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.5rem;
		margin-top: 2rem;
	}

	.valueAndBlogCard{
		margin-top: 2rem;
		min-height: 15rem;
	}

	.companyValues{
		text-align: center;
		padding-top: 6rem;
		font-size: 1.25rem;
	}

	.valueAndBlogCard:first-of-type{
		grid-column: 1/span 2;
		margin-top: 0rem;
	}

	.valueAndBlogCard:nth-of-type(2){
		grid-column: 3/span 2;
		margin-top: 0rem;
	}

	.valueAndBlogCard:last-of-type{
		grid-column: 1/span 2;
	/*	height: 22.729rem;*/
	}

	/*Footer*/
	.footBarContainer{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 0.25fr 0.25fr;
		grid-column-gap: 1.5rem;
		padding-left: 1.35rem;
		padding-right: 1.35rem;
		margin-top: 0rem;
	}

	.footerResources{
		grid-column: 1/span 2;
		grid-row: 1/span 1;
	}

	.footerAbout{
		grid-column: 3/span 2;
		grid-row: 1/span 1;
	}

	.footerLogo{
		grid-column: 4/span 1;
		margin: 0rem;
	}

	.footerLogo img{
		min-width: 50%;
		max-width: 60%;
		height: auto;
	}

	.copyRight{
		grid-column: 1/span 2;
		grid-row: 3/span 1;
		text-align: left;
		margin: 0;
		margin-bottom: 2rem;
	}

	.socialMediaIcons{
		grid-column: 1/span 3;
		margin: 0rem;
	}

	.iconFb, .iconTwitter, .iconLinkedIn{
	margin-right: 1.25rem;
	}

	.iconFb{
		margin-left: -0.5rem;
	}

/*Breaking point: 1024px*/
@media screen and (max-width: 64em){
	.productCardText{
		margin-top: 10rem;
	}

	.blogCardText{
		margin-top: 4rem;
	}
	#blogCTA{
		margin-bottom: 4rem;
	}

}

/*Breaking point: 892px*/
@media screen and (max-width: 55.75em){
	.productCardText{
		margin-top: 5rem;
		margin-left: 2.5rem;
	}

	#productCTA{
		margin-left: 2.5rem;
	}

	/*Pop-up quiz*/
	.quizContainer{
		grid-column: 1/span 12;
	}
}

/*Phone: 768px*/
@media screen and (max-width:48em){
	/*home page*/
	/*Hero Slider*/
	.heroSlider {
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
	}

	.slideImage{
		grid-column: 1/span 4;
	}

	.productCard:first-of-type{
		grid-column: 1/span 4;
	}

	.productCard:nth-of-type(2){
		grid-column: 1/span 4;
	}

	.productCard:nth-of-type(3){
		grid-column: 1/span 4;
	}

	.productCard:last-of-type{
		grid-column: 1/span 4;
	}

	.productDetails{
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}

	.productCardText, .blogCardText{
		margin-top: 6rem;
		margin-left: 3rem;
	}

	#productCTA, #blogCTA{
		margin-left: 2.5rem;
		margin-bottom: 5rem;
	}

	/*Quiz*/
	.quizGrid{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
		margin: 0rem;
		padding: 0rem;
	}

	.quizContainer{
		grid-column: 1/span 4;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(11, 0.1fr);
		grid-column-gap: 1.25rem;
	}

	.quizNavBar{
		grid-column: 1/span 4;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
	}

	.question{
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.quizQuestion{
		font-size: 1.75rem;
		margin-bottom: 2rem;
	}

	#back{
		grid-column: 1/span 2;
		width: 75%;
	}

	#close{
		grid-column: 4;
	}

	.progressBarContainer{
		grid-column: 1/span 4;
		grid-row: 2;
		margin-top: 2rem;
		width: 92%;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}

	.question{
		grid-column: 1/span 4;
	}

	.quizBtnStyle:first-of-type{
		grid-column: 2/span 2;
		grid-row: 4;
	}

	.quizBtnStyle:nth-of-type(2){
		grid-column: 2/span 2;
		grid-row: 5;
	}

	.quizBtnStyle:nth-of-type(3){
		grid-column: 2/span 2;
		grid-row: 6;
	}

	.quizBtnStyle:nth-of-type(4){
		grid-column: 2/span 2;
		grid-row: 7;
	}

	/*Continue*/
	#continue{
		grid-column: 2/span 2;
		grid-row: 10;
		width:100%;
		height: 100%;
	}

	#noPreference{
		grid-column: 2/span 2;
		grid-row: 11;
	}

	/*Blog*/
	.valueAndBlogCard:first-of-type{
		grid-column: 1/span 4;
	}

	.valueAndBlogCard:nth-of-type(2){
		grid-column: 1/span 4;
		margin-top: 2rem;
	}

	.valueAndBlogCard:last-of-type{
		grid-column: 1/span 4;
		height: auto;
		margin-bottom: 4rem;
	}

	/*footer*/
	.footerLogo{
		grid-column: 4/span 1;
		margin: 0rem;
	}

	.footerLogo img{
		min-width: 120%;
		max-width: 120%;
		height: auto;
	}

	.copyRight{
		grid-column: 1/span 4;
		grid-row: 3/span 1;
		text-align: left;
		margin: 0;
		margin-bottom: 2rem;
	}

	.socialMediaIcons{
		grid-column: 1/span 3;
		margin: 0rem;
	}

	.iconFb, .iconTwitter, .iconLinkedIn{
	margin-right: 0.75rem;
	}

	.iconFb{
		margin-left: -0.5rem;
	}

}

/*Phone: 320px*/
@media screen and (max-width:20em){
	.blogCardText{
		font-size: 1.25rem;
		width:clamp(7ch, 80%, 14ch);
		margin-top: 3rem;
	}

	#blogCTA{
		margin-bottom: 2rem;
	}

	/*Quiz: Pop-up*/
	.progressBarContainer{
		width: 85%;
	}
}