*{
	box-sizing:border-box; /*Controls how we measure our width*/
}
:root{ /*global styling+declarations: Variables: https://www.w3schools.com/css/css3_variables.asp*/
	--CTAColour: #468CFF;
	--textColour: #212429;
	--bgColour: #FCFCFC;
	/* Linear Gradients: https://www.w3schools.com/css/css3_gradients.asp*/
	--gradientColour: linear-gradient(135deg, rgba(251, 203, 79, 25%), rgba(253, 60, 89, 20%), rgba(111, 163, 249, 20%));
	--dropShadow: 0em 0em 1em rgba(0, 0, 0, 0.05); 	/*Blur box: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

	font-family: Lato, sans-serif;
	color: var(--textColour);
	background-color: var(--bgColour);
}


.navContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

/*-----------Section Styling---------*/
.sectionContainer{
	margin-bottom: 2.5rem;
	margin-top: 0;
}

.note{
	font-size: 1rem;
	margin: 0.5rem;
	padding: 1em;
	font-style: italic;
	background-image: var(--gradientColour);
}

.patternOverview{
	margin: 0.5rem;
}
/*-----------Colour Palette----------*/
.colourSwatchOverview{
	margin: 0.5rem 0.5rem 0.5rem 0.5rem; /*top, left, right, btm*/
	border: 0.5rem;
	border-style: solid;
	border-color: gray;
	border-width: 0.15rem;
}

.colourSwatch{
	height:5rem;
}

.colourSwatchDetail{
}

/*-----------Typography-----------*/
h1, h2, h3, h4{
	font-family: Poppins, sans-serif;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {

	font-size: 1.25rem;
	margin: 0.5rem;
	margin-left: 0;
}

body {
	font-size: 1rem;
}


p a{
	font-weight: bold;
}

/*----------Code Snippet------------*/
.codeSnippetContainer{
	background-color: lightgray;
	padding: 1.5rem;
	margin-top: 2rem;
	max-height: 15rem;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 3rem;
}

.codeSnippetPattern{
	margin-bottom: 1rem;
	padding: 1em;
}

.codeSnippetTitle{
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.codeSnippetPattern code{
	font-size: 0.75rem;
}

.codeSnippetExample{
	list-style: none;	
 }
/*-----------Interactive Elements-----------*/
/*CTA Button*/
.btnStyle{
	display: inline-block;
	background-color: var(--CTAColour);
	border-radius: 0.75rem;
	width: 12rem;
	font-size:1rem;
	color: white;
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
}

.btnStyle:hover{
	font-weight: bold;
	background-color: #2678ff;
}

.btnStyle:focus, .btnStyle:active{
	color: var(--textColour);
}

/*Form Buttons*/
button.btnStyle, input.btnStyle{
	border-style: none;
}

.btnStyleDisabled{
	display: inline-block;
	background-color: var(--CTAColour);
	border-radius: 0.75rem;
	border-style: none;
	width: 12rem;
	font-size:1rem;
	color: white;
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
	opacity: 50%;
	cursor: not-allowed;
	margin-left: 1rem;
}

.btnReset{
	display: inline-block;
	background-color: white;
	border-radius: 0.75rem;
	border: 0.15rem solid var(--CTAColour);
	width: 12rem;
	font-size:1rem;
	color: var(--CTAColour);
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
	opacity: 50%;
	margin-top: 2rem;
	margin-left: 1rem;
}

.btnReset:hover{
	background-color: var(--CTAColour);
	font-weight: bold;
	color:white;
	opacity: 100%;
}

/*Form Fields*/
input{
	margin: 0.2rem;
	margin-top: 20px;
	width: 28em;
	background-color: white;
	box-shadow: var(--dropShadow);
	border: none;
	padding: 10px;
}

input[type=text]:focus{
	/*background-color: #2222;*/
}

label{
	color: var(--textColour);
	font-weight: bold;
}

/*-----------Feature Module Pattern-----------*/
/*Tutorial: https://www.w3schools.com/css/css_navbar_horizontal.asp*/
/*Nav Bar Module*/
.logo{
	margin: 0.5rem;
	margin-top: 1rem;
}

.navBarContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

.navButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	overflow: hidden;*/
}

.navButtons li{
	float: left;
	margin: 0.15rem;
}

.navButtons a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0.25rem;
	color: var(--textColour);
	margin: 1.25rem;
	margin-top: 1.75rem;
}

.navButtons a:hover{
	font-weight: bold;
}

.navButtons a:focus, a:active{
	text-decoration: underline;
}

/*Feature Module*/
.modulePatternContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

/*Feature Module Buttons*/
.dot{
  height: 1em;
  width: 1em;
  background-color: var(--CTAColour);
  border-radius: 50%;
  display: inline-block;
  margin-top: 2.5rem;
  margin-left: 3em;
}


.featureBtn{
	display: inline-block;
	background-color: white;
	box-shadow: var(--dropShadow);
	opacity:50%;
	font-size:1rem;
	color: var(--textColour);
	font-weight: bold;
	text-align: left;
	text-decoration:none;
	padding: 0.75em;
	padding-left: 5em;
	min-height: 5rem;
}

.featureBtn:hover, .featureBtn a:focus, a:active{
	opacity:100%;
}

/*image*/
.imgContainer img{ /*https://stackoverflow.com/questions/15685666/changing-image-sizes-proportionally-using-css*/
	width: 60rem;
	height: 25rem;
	object-fit:cover;
}

.productSpecsHeader{
	margin-bottom: 0.5rem;
}

.productSpecs{
	list-style-type:none;
	margin-left: -2.5rem;
	margin-top: -1rem;
}

.productSpecsTitle{
	text-decoration:underline;
}

/*Grid Structure*/
.gridStructurePatternContainer{
	background-color: gray;
	opacity: 20%;
}

.gridOne, .gridTwo, .gridThree, .gridFour, .gridFive, .gridSix, .gridSeven, .gridEight, .gridNine, .gridTen, .gridEleven, .gridTwelve{
	background-color: red;
	opacity: 75%;
}


/*Recommendation Module*/
.productCard img{
	width: 100%;
}
.productCard:last-of-type{
	background-image: var(--gradientColour);
}

.productCardText{
	margin-top: 10rem;
	margin-left: 3rem;
	width:clamp(7ch, 80%, 13ch);
}

.productCardText a:hover{
	font-weight: bold;
}

.productCardText a{
	text-decoration: none;
}

#productCTA{
	margin-top: 2rem;
	margin-left: 3rem;
}

.colourSwatch{
	overflow: auto;
}

.colourSwatchDetail{
	list-style-type:none;
	margin-left:-0.5rem; /*centers text*/
}

/*-----------Value Module-----------*/
.valueAndBlogCard{
	background-image: var(--gradientColour);
	min-height: 31.5rem;
	position: relative;
}

.companyValues{
	text-align: center;
	padding-top: 13rem;
	font-size: 1.25rem;
}

/*-----------Blog Module-----------*/
/*How to overlap images (position and z-index property): https://www.w3docs.com/snippets/css/how-to-position-one-image-on-top-of-another-in-html-css.html*/
.blogImg{
	width: 100%;
	position: relative;
	z-index: -1;
}

.blogBlurredImgBg{
	width: 100%;
	height: 15rem;
	object-fit: cover;
	object-position: 0% 50%;
	margin-top: -50rem;
	filter: blur(0.2em);
}

.blogTitle{
	color: white;
	margin-top: -13rem;
	padding-left: 3.5rem;
}

.blogDescription{
	color: white;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

.inTextCTAStyle{
	font-weight: bold;
	color: white;
	padding-left: 3.5rem;
}

.blogInfoBackground{
	position: absolute;
	z-index: 1;
}

#blogCTA{
	margin-top: 2rem;
	margin-left: 3rem;
}

/*-----------Quiz Module-----------*/
.quizContainer{
	background-color: white;
}

.progressBarBorder{
	width: 98%;
	height: 1.5rem;
	background-color: white;
	border-radius: 0.2rem;
	border: 0.1rem solid var(--textColour);
}

.progressBarProgress{
	width: 14%;
	height: 1.4rem;
	background-color: var(--CTAColour);
	border-radius: 0.2rem;
	margin-top: -0.05rem;
}

.quizQuestion{
	margin-top: -1rem;
}

/*-----------Quiz (Text MC)-----------*/
.quizBtnStyle{
	display: inline-block;
	background-color: white;
	border-radius: 0.75rem;
	border: 0.1rem solid var(--CTAColour);
	width: 95%;
	font-weight: bold;
	font-size:1rem;
	color: var(--CTAColour);
	text-align: center;
	text-decoration:none;
	padding: 0.75em;
	margin-bottom: 1.5rem;
}

.quizBtnStyle:hover{
	border: 0.2rem solid var(--CTAColour);
}

/*-----------Quiz (Image selection)-----------*/
.quizCardImg{
	width: 95%;
}

.quizCard{
	margin-bottom: 1.5rem;
}

/*Progress Bar: Q5 of 7*/
#quizQFive{
	width: 57%;
}

/*-----------Colours-----------*/
#CTAColour{
	background-color: var(--CTAColour);
}


#gColour{
	background-image: var(--gradientColour);
}

#textColour{
	background-color: var(--textColour);
}

#bgColour{
	background-color: var(--bgColour);
}

ul, ol{
	line-height: 1.5rem;
}

/*-----------Footer Modular Patterns-----------*/
/*Footer*/
.footBarContainer{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.footerButtons{
	grid-column: 1/span 2;
}

.footerLogo{
	grid-column: 11/span 2;

}

.copyRight{
	grid-column: 5/span 3;
}

.iconF{
	grid-column: 8/span 1;
}

.iconT{
	grid-column: 9/span 1;
}

.iconL{
	grid-column: 10/span 1;

}

/*Hero Slider*/
.heroSlider {
	background-color: red;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
}

.slideImage img {
	height: 100%;
	object-fit:cover;
}

.slideText {
	position: absolute;
	bottom: 100px;
  	left: 10%;
	width: 80%;
	text-align: left;
}

.sliderDot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dots {
	position: absolute;
  right: 10%;
	bottom: 100px;
}

.active {
  background-color: black;
}

/* Shop Tile */
.shopTile .productCard img{
	width: 100%;
}

.shopTile .productCard:last-of-type{
	background-image: none;
}

/* Pagination */
.pagination {
	display: inline-block;
}

.pagination a {
	float: left;
	margin-left: 30px;
	color: #000000;
}

/* Location */
#socialLinks a {
	margin-right: 30px;
}

#map {
	margin-top: 50px;
	width: 100%;
	height: 300px;
	border: 0;
}


.contactDetails {
	margin-top: 50px;
}

/* Sub Navigation */
.subNavigation {

}

.subNavigation a {
	display: block;
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
}

.subNavCategory {
	display: grid;
}

.subNavigation h5 {
	margin-top: 0;
}

.subNavCategoryCollum2 {
	padding-top: 40px;
}

.subNavCategoryCollum1 {
}

.subNavContainer {
	width: 90%;
	margin: 0 auto;
}

.subNavCategory, .subNavLightingTypes, .subNavFeatures {
	margin-top: 20%;
}

<<<<<<< Updated upstream
/*-----------Footer Module-----------*/
.footBarContainer{
	background-color: white;
	box-shadow: var(--dropShadow);
}

.footerButtons {
	list-style-type: none;
	margin: 1.5rem;
	padding: 0;
/*	overflow: hidden;*/
}

.footerButtons li{
	float: left;
	margin: 0.15rem;
}

.footerButtons a {
	display: block;
	font-family: Opensans, sans-serif;
	font-size: 0.75rem;
	text-decoration: none;
	text-align: center;
	padding: 0.25rem;
	color: var(--textColour);
	margin: 0.1rem;
	margin-top: 0.25rem;
}

.footerLogo{
	margin: 0.5rem;
	margin-top: 13rem;
}

.copyRight{
	margin: 0.5rem;
	margin-top: 15.5rem;
}

.iconF, .iconT, .iconL{
	margin: 0.5rem;
	margin-top: 15rem;
}

/*-----------Quiz CTA Module-----------*/
.quizBannerContainer{
	background-image: url('../img/quizbanner.png');
	background-repeat: no-repeat;
	height: 30rem;
	background-size: cover;
	box-shadow: var(--dropShadow);
}

.quizBH{
	margin: 0.5rem;
	margin-top: 7rem;
}

.quizCTA{
	margin: 0.5rem;
	min-height: 20rem;
}

/*-----------Product Image Gallery Module-----------*/
.productGalImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.cartTile{
	background-color: white;
	box-shadow: var(--dropShadow);
}

/*--------Shopping Cart Module-----*/

.priceAmounts{
	text-align: right;
}
.pricedDetails{
}

.checkoutButton{
	margin: 0.5rem;
}
.productOne{
}

.hangLamp{
}

.order1, .order2{
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.deskLamp{
}

/*--------User Submitted Module-----*/
.userGalImg{
	width: 100%;
	height: 100%;
}

.scrollUser{
  overflow: auto;
  white-space: nowrap;
}

.scrollUser img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
}

/*--------Product Filter Module-----*/

.filterBlock{
	background-color: white;
	box-shadow: var(--dropShadow);
}

.check {
  position: absolute;
 	top: 0;
 	left: 0;
 	height: 0.875rem;
	width: 0.875rem;
	border-style: solid;
	border-color: grey;
	border-width: 0.01em;
	border-radius: 0.25em;
}

.boxContainer {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.boxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.boxContainer:hover input ~ .check {
  background-color: #D3D3D3;
}

/* When the checkbox is checked, add a blue background */
.boxContainer input:checked ~ .check {
  background-color: #468CFF;
}

.divide{
	border-top: 0.05rem solid #D3D3D3;
}


/*Header (Nav Bar)*/
.navContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
}

.navButtons{
	grid-column: 9/span 4;
}

.logo{
	grid-column: 1/span 2;
}

/*About us page*/
/*About Us / Mission*/
.sectionContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 5rem;
}
.aboutCompany{
	grid-column: 1/span 4;
}

.placeHolder{
	width: 100%;
	height: 35rem;
	background-color: gray;
	grid-column: 5/span 8;
}

/*Our Values Module*/
.ourValues{
	grid-column: 1/span 12;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
}

.moduleHeader{
	grid-column: 1/span 2;
}

.valueAndBlogCard:first-of-type{
	grid-column: 1/span 4;
}

.valueAndBlogCard:nth-of-type(2){
	grid-column: 5/span 4;
}

.valueAndBlogCard:last-of-type{
	grid-column: 9/span 4;
}

/*home page*/
.sectionContainerWithHero{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
}

.productRecommendation{
	margin-top: 5rem;
	grid-column: 1/span 12;
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-column-gap: 1.5rem;
}

.productCard:first-of-type{
	grid-column: 1/span 3;
}

.productCard:nth-of-type(2){
	grid-column: 4/span 3;
}

.productCard:nth-of-type(3){
	grid-column: 7/span 3;
}

.productCard:last-of-type{
	grid-column: 10/span 3;
}

/*Quiz Banner CTA*/
.quizBanner{
	width: 100%;
	background-color: gray;
	grid-column: 1/span 12;
}


/*Mobile*/
@media screen and (max-width: 26em){
	.navContainer{
		display:grid;
		grid-template-columns: repeat(4, 1fr);
		padding-left: 1.3rem; /*about 22px*/
		padding-right: 1.3rem;
	}

	.logo{
		grid-column: 1/span 2;
	}

	.navButtons{
		grid-column: 1/span 4;
	}
}