/*-------------Nav Bar-----------*/
.navContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
}

.navButtons{
	grid-column: 9/span 4;
}

.logo{
	grid-column: 1/span 2;
}

/*---------About Company--------*/
.sectionContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 4rem;
}

.aboutCompany{
	grid-column: 1/span 4;
	grid-row: 1;
}

.aboutCompanyImg{
	grid-column: 5/span 8;
}

/*Our Values*/
.ourValues{
	grid-column: 1/span 12;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
}

.moduleHeader{
	grid-column: 1/span 5;
}

.valueAndBlogCard:first-of-type{
	grid-column: 1/span 4;
}

.valueAndBlogCard:nth-of-type(2){
	grid-column: 5/span 4;
}

.valueAndBlogCard:last-of-type{
	grid-column: 9/span 4;
}

/*-----------Home page-----------*/
.productRecommendation{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 2rem;
}

/*Product name/price*/
.productDetails{
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	margin-bottom: 0rem;
}

.productCard:first-of-type{
	grid-column: 1/span 3;
}

.productCard:nth-of-type(2){
	grid-column: 4/span 3;
}

.productCard:nth-of-type(3){
	grid-column: 7/span 3;
}

.productCard:last-of-type{
	grid-column: 10/span 3;
}

/*-------------Quiz-----------*/
.quizGrid{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem;
	padding-right: 6.25rem;
	margin-top: 1rem;
}

/*grid*/
.quizContainer{
	grid-column: 3/span 8;
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column-gap: 1.5rem;
	grid-template-rows: 0.1fr 0.1fr 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}

/*nav bar*/
.quizNavBar{
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1.5rem;
	grid-column: 1/span 10;
	grid-row: 1;
}

#back{
	grid-column: 2/span 2;
	grid-row: 1;
}

#close{
	grid-column: 9;
	grid-row: 1;
	padding: 1rem;
}

/*progress bar*/
.progressBarContainer{
	grid-column: 3/span 6;
	grid-row: 2/span 1;
}

/*questions + answer choices*/
.question{
	grid-column: 3/span 6;
}

.quizBtnStyle:first-of-type{
	grid-column: 3/span 3;
	grid-row: 4/span 1;
}

.quizBtnStyle:nth-of-type(2){
	grid-column: 6/span 3;
	grid-row: 4/span 1;
}

.quizBtnStyle:nth-of-type(3){
	grid-column: 3/span 3;
	grid-row: 5/span 1;
}

.quizBtnStyle:nth-of-type(4){
	grid-column: 6/span 3;
	grid-row: 5/span 1;
}

/*-----------Quiz (Image selection)-----------*/
.quizCard:nth-of-type(4){
	grid-column: 3/span 2;
	grid-row: 4;
}

.quizCard:nth-of-type(5){
	grid-column: 5/span 2;
	grid-row: 4;
}

.quizCard:nth-of-type(6){
	grid-column: 7/span 2;
	grid-row: 4;
}

.quizCard:nth-of-type(7){
	grid-column: 3/span 2;
	grid-row: 5;
}

.quizCard:nth-of-type(8){
	grid-column: 5/span 2;
	grid-row: 5;
}

.textBtnStyle{
	grid-column: 5/span 2;
	grid-row: 9/span 1;
}

#continue{
	grid-column: 5/span 2;
	grid-row: 8/span 1;
}

/*-----------Footer Modular Patterns-----------*/
/*Footer*/
.footBarContainer{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/span 12;
	grid-column-gap: 1.5rem;
	padding-left: 6.25rem; /*roughly 100px*/
	padding-right: 6.25rem;
	margin-top: 10rem;
}

.footerResources{
	grid-column: 1/span 2;
}

.footerAbout{
	grid-column: 3/span 2;
}

.copyRight{
	grid-column: 5/span 3;
}

.footerLogo{
	grid-column: 12/span 1;
	margin: 0.5rem;
	margin-top: 13rem;
}

.socialMediaIcons{
	grid-column: 9/span 3;
	margin: 0.5rem;
	margin-top: 15rem;
}


/*Breaking point: 1686px (aka 105.375rem)*/
@media screen and (max-width: 105.375em){
	.productCardText, .blogCardText{
		margin-top: 7rem;
	}
}

/*Breaking point: 1538px (aka 96.125rem)*/
@media screen and (max-width: 96.125em){
	.productCardText, .blogCardText{
		margin-top: 4rem;
	}
}

/*Breaking point: 1395px (aka 87.188rem)*/
@media screen and (max-width: 87.188em){
	.productCardText, .blogCardText{
		margin-top: 2rem;
		margin-left: 2rem;
		width:clamp(7ch, 80%, 13ch);
	}

	#productCTA, #blogCTA{
		margin-left: 2rem;
	}
}

/*Tablet (size ~1220px and down)*/
@media screen and (max-width:76em){

	/*Nav Bar*/
	.navContainer{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem; /*roughly 20px*/
		padding-left: 1.35rem; /*roughly 22px*/
		padding-right: 1.35rem;
	}

	.logo{
		grid-column: 1/span 2;
	}

	.navButtons{
		grid-column: 1/span 4;
	}

	/*Home page*/
	.productRecommendation{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
		padding-left: 1.35rem;
		padding-right: 1.35rem;
	}

	.productCard:first-of-type{
		grid-column: 1/span 2;
	}

	.productCard:nth-of-type(2){
		grid-column: 3/span 2;
	}

	.productCard:nth-of-type(3){
		grid-column: 1/span 2;
	}

	.productCard:last-of-type{
		grid-column: 3/span 2;
	}

	.productCardText{
		font-size: 2rem;
		margin-top: 15rem;
		margin-left: 5rem;
	}

	#productCTA{
		margin-left: 5rem;
	}

	.blogCardText{
		margin-top: 7rem;
	}

	#blogCTA{
		margin-bottom: 5rem;
	}

	/*About Us Section*/
	.sectionContainer{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.5rem;
		padding-left: 1.35rem;
		padding-right: 1.35rem;
		margin-top: 2rem;
	}

	.moduleHeader{
		grid-column: 1/span 4;
		margin-bottom: 1rem;
	}

	.aboutCompanyImg{
		grid-column: 1/span 4;
		margin-top: 2rem;
	}

	/*Quiz Popup*/
	.quizContainer{
		grid-column: 2/span 10;
	}

	/*Our Values Module*/
	.ourValues{
		grid-column: 1/span 4;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.5rem;
		margin-top: 2rem;
	}

	.valueAndBlogCard{
		margin-top: 2rem;
		min-height: 15rem;
	}

	.companyValues{
		text-align: center;
		padding-top: 6rem;
		font-size: 1.25rem;
	}

	.valueAndBlogCard:first-of-type{
		grid-column: 1/span 2;
		margin-top: 0rem;
	}

	.valueAndBlogCard:nth-of-type(2){
		grid-column: 3/span 2;
		margin-top: 0rem;
	}

	.valueAndBlogCard:last-of-type{
		grid-column: 1/span 2;
	/*	height: 22.729rem;*/
	}

	/*Footer*/
	.footBarContainer{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 0.25fr 0.25fr;
		grid-column-gap: 1.5rem;
		padding-left: 1.35rem;
		padding-right: 1.35rem;
		margin-top: 0rem;
	}

	.footerResources{
		grid-column: 1/span 2;
		grid-row: 1/span 1;
	}

	.footerAbout{
		grid-column: 3/span 2;
		grid-row: 1/span 1;
	}

	.footerLogo{
		grid-column: 4/span 1;
		margin: 0rem;
	}

	.footerLogo img{
		min-width: 50%;
		max-width: 60%;
		height: auto;
	}

	.copyRight{
		grid-column: 1/span 2;
		grid-row: 3/span 1;
		text-align: left;
		margin: 0;
		margin-bottom: 2rem;
	}

	.socialMediaIcons{
		grid-column: 1/span 3;
		margin: 0rem;
	}

	.iconFb, .iconTwitter, .iconLinkedIn{
	margin-right: 1.25rem;
	}

	.iconFb{
		margin-left: -0.5rem;
	}

/*Breaking point: 1024px*/
@media screen and (max-width: 64em){
	.productCardText{
		margin-top: 10rem;
	}

	.blogCardText{
		margin-top: 4rem;
	}
	#blogCTA{
		margin-bottom: 4rem;
	}

}

/*Breaking point: 892px*/
@media screen and (max-width: 55.75em){
	.productCardText{
		margin-top: 5rem;
		margin-left: 2.5rem;
	}

	#productCTA{
		margin-left: 2.5rem;
	}

	/*Pop-up quiz*/
	.quizContainer{
		grid-column: 1/span 12;
	}
}

/*Phone: 768px*/
@media screen and (max-width:48em){
	/*home page*/
	.productCard:first-of-type{
		grid-column: 1/span 4;
	}

	.productCard:nth-of-type(2){
		grid-column: 1/span 4;
	}

	.productCard:nth-of-type(3){
		grid-column: 1/span 4;
	}

	.productCard:last-of-type{
		grid-column: 1/span 4;
	}

	.productDetails{
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}

	.productCardText, .blogCardText{
		margin-top: 6rem;
		margin-left: 3rem;
	}

	#productCTA, #blogCTA{
		margin-left: 2.5rem;
		margin-bottom: 5rem;
	}

	/*Quiz*/
	.quizGrid{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
		margin: 0rem;
		padding: 0rem;
	}

	.quizContainer{
		grid-column: 1/span 4;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(11, 0.1fr);
		grid-column-gap: 1.25rem;
	}

	.quizNavBar{
		grid-column: 1/span 4;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1.25rem;
	}

	.question{
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.quizQuestion{
		font-size: 1.75rem;
		margin-bottom: 2rem;
	}

	#back{
		grid-column: 1/span 2;
		width: 75%;
	}

	#close{
		grid-column: 4;
	}

	.progressBarContainer{
		grid-column: 1/span 4;
		grid-row: 2;
		margin-top: 2rem;
		width: 92%;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}

	.question{
		grid-column: 1/span 4;
	}

	.quizBtnStyle:first-of-type{
		grid-column: 2/span 2;
		grid-row: 4;
	}

	.quizBtnStyle:nth-of-type(2){
		grid-column: 2/span 2;
		grid-row: 5;
	}

	.quizBtnStyle:nth-of-type(3){
		grid-column: 2/span 2;
		grid-row: 6;
	}

	.quizBtnStyle:nth-of-type(4){
		grid-column: 2/span 2;
		grid-row: 7;
	}

	/*Continue*/
	#continue{
		grid-column: 2/span 2;
		grid-row: 10;
		width:100%;
		height: 100%;
	}

	#noPreference{
		grid-column: 2/span 2;
		grid-row: 11;
	}

	/*Blog*/
	.valueAndBlogCard:first-of-type{
		grid-column: 1/span 4;
	}

	.valueAndBlogCard:nth-of-type(2){
		grid-column: 1/span 4;
		margin-top: 2rem;
	}

	.valueAndBlogCard:last-of-type{
		grid-column: 1/span 4;
		height: auto;
		margin-bottom: 4rem;
	}

	/*footer*/
	.footerLogo{
		grid-column: 4/span 1;
		margin: 0rem;
	}

	.footerLogo img{
		min-width: 120%;
		max-width: 120%;
		height: auto;
	}

	.copyRight{
		grid-column: 1/span 4;
		grid-row: 3/span 1;
		text-align: left;
		margin: 0;
		margin-bottom: 2rem;
	}

	.socialMediaIcons{
		grid-column: 1/span 3;
		margin: 0rem;
	}

	.iconFb, .iconTwitter, .iconLinkedIn{
	margin-right: 0.75rem;
	}

	.iconFb{
		margin-left: -0.5rem;
	}

}

/*Phone: 320px*/
@media screen and (max-width:20em){
	.blogCardText{
		font-size: 1.25rem;
		width:clamp(7ch, 80%, 14ch);
		margin-top: 3rem;
	}

	#blogCTA{
		margin-bottom: 2rem;
	}

	/*Quiz: Pop-up*/
	.progressBarContainer{
		width: 85%;
	}
}